:root {
  --primary-color: #cdb4db;
  --secondary-color: #bde0fe;
  --button-color: #ffafcc;
  --button-hover: #ffc8dd;
  --special-color: #a2d2ff;
  --heading-color: #023047;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: var(--secondary-color);
}

.App > h1 {
  text-align: center;
  font-size: 3em;
  padding: 20px;
  font-style: italic;
  letter-spacing: 5px;
  color: var(--heading-color);
}

.wrapper {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  width: 80%;
  min-height: 85vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  padding: 10px;
  margin: 10px;
  text-align: center;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  opacity: 0.7;
  /* transform-origin: center; */
}

figcaption {
  display: none;
}

figure.main {
  overflow: visible;
  position: absolute;
  z-index: 999;
  animation-name: slider;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  background-color: rgba(101, 101, 101, 0.2);
  border-radius: 20px;
  opacity: 1;
}

figure.main figcaption {
  display: block;
  border-radius: 20px;
  padding: 3px;
}

@keyframes slider {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.controls {
  text-align: center;
  max-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  width: 120px;
  padding: 5px;
  font-size: 1.2em;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--button-color);
  color: var(--special-color);
  border: none;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: var(--button-hover);
  color: var(--secondary-color);
}

.dots {
  text-align: center;
  margin-top: 30px;
  min-height: 3vh;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--special-color);
}

.dot.active {
  background-color: var(--primary-color);
}

/* Media Queries */

/* widescreen */

.card.widescreen {
  width: 90%;
  margin: 5px auto;
  height: 90vh;
}

.card.laptop {
  width: 80%;
  margin: auto;
  height: 90vh;
}

figure.laptop {
  width: 75%;
}

.card.tablet {
  width: 70%;
  margin: auto;
}

figure.tablet {
  width: fit-content;
  margin: auto;
  height: 90vh;
}

.card.mobile {
  width: 70%;
  margin: auto;
}

figure.mobile {
  width: fit-content;
  margin: auto;
  height: 90vh;
}
