* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

.App > h1 {
  text-align: center;
  font-size: 3em;
  padding: 20px;
  font-style: italic;
  letter-spacing: 5px;
}

.wrapper {
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  min-height: 85vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  padding: 10px;
  margin: 10px;
  text-align: center;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  /* transform-origin: center; */
}

figcaption {
  display: none;
}

figure.main {
  overflow: visible;
  position: absolute;
  z-index: 999;
  animation-name: slider;
  animation-duration: 1s;
  animation-timing-function: linear;
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 20px;
}

figure.main figcaption {
  display: block;
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 20px;
  padding: 3px;
}

@keyframes slider {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

/* img {
  border-radius: 20px;
} */

.controls {
  text-align: center;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  width: 120px;
  padding: 5px;
  font-size: 1.2em;
  margin: 5px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #888;
}
