* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

.App > h1 {
  text-align: center;
  font-size: 3em;
  padding: 20px;
  font-style: italic;
  letter-spacing: 5px;
}

.wrapper {
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  min-height: 85vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  padding: 10px;
  margin: 10px;
  text-align: center;
  flex: 0 0 auto;
  scroll-snap-align: center;
  transform-origin: center;
}

img {
  border-radius: 20px;
}

.controls {
  text-align: center;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  width: 120px;
  padding: 5px;
  font-size: 1.2em;
  margin: 5px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}
